.bg {
  /* background-image: url(../images/battlefield.jpg);
  background-size: stretch;
  background-repeat: no-repeat; */
}

.title-text {
  text-shadow: 2px 2px #000000 !important;
}

.overlayBg {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-main {
  background-image: url(../images/test.jpg);
  background-size: cover;
}

.supply-cards {
  justify-content: start;
  transition: all linear 200ms;
  border-radius: 8px !important;
  border: 1px solid #cccccc !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.supply-cards:hover {
  transform: scale(1.1) !important;
  transition: all linear 200ms !important;
  z-index: 1 !important;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) !important;
}

.cart-card {
  border: 1px solid #090909;
  border-radius: 5px !important;
  font-size: 0.8rem !important;
  line-height: 0;
  opacity: 1;
  /* align-items: center;
  justify-content: space-between;
  text-align: center; */
}

.cart-card name {
  font-size: 0.5rem !important;
  margin: 0;
}

.cart-card .info {
  justify-content: center;
  align-items: center;
}

.cart-card .quantity {
  font-weight: bold;
  color: #007bff !important;
}
